/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* font-family: 'VT323', monospace; */
  font-family: 'Pixelify Sans', sans-serif;
}

body {
  background-color: #121212;
  color: white;
}

.domino {
  transform: rotate3d(0, 1, 0, 180deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 0.2rem solid black;
  width: 3rem;
  margin: 1rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: monospace;
  color: rgb(102, 102, 102);
  background: black;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* 
.domino:hover {
  transform: scale(1.1);
  transform: rotate3d(0, 1, 0, 180deg);
  cursor: pointer;
}


.hidden {
  border: 0.2rem solid black;
  width: 3rem;
  margin: 1rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: monospace;
  color: white;
  background: black;
} */

.selected {
  color: white;
  transform: rotate3d(0, 1, 0, 0deg);
}

.EnemyGameTable {
  background-color: rgb(190, 190, 190);
  opacity: 0.8;
  transform: scale(0.8);
}

@keyframes spawnAnimation {
  0% {
    margin-left: 100%;
    width: 300%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.spawnAnimation {
  animation: spawnAnimation 1s 0s infinite forwards;
}

.form {
  width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: blue; */
  padding: 1rem;
  border: 0.1rem ;
  border: 0.2rem white dashed;
  margin: 7rem auto;
  
}

form[name='signup'], form[name='login'] {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}